
/* fonts styles */
/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2');
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
}

/* global styles */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

li,
a {
    text-decoration: none;
    color: inherit;
}
/* sign in styles */
.sign-in {
    margin-top: 200px;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1 {
    margin-bottom: 50px;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
input {
    width: 110%;
    height: 30px;   
    font-size: 20px;
    height: 100%;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a {
    padding: 10px 35px;
    border: 1px solid #010101;
    border-radius: 6px;
    background-color: #0067FF;
    color:#DEE2E7;
}
a:hover {
    background-color: #1C1C1C;
    color: #fff;
    border: 0px solid #fff;
    
}
img {
    width: 150px;
    height: 46px;
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
}